<main>

<div class="title">
    <h1 class="heading">
        Frequently Asked Questions (FAQ)
    </h1>
    <p class="desc" style="--d: 0.2s;"> Welcome to Taxi Service FAQ section. We understand that you might have
        questions about our
        services,
        and we're here to help. Below you'll find answers to some of the most commonly asked questions. If you
        can't find the information you're looking for, feel free to contact our customer service team for further
        assistance.
    </p>
</div>

<section class="faq-container">
    <mat-accordion>
        <mat-expansion-panel class="panel" style="--d: .4s;">
            <mat-expansion-panel-header>
                <mat-panel-title class="panel-title"> What areas do you serve? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Taxi Service operates primarily in Varanasi and surrounding areas. We also provide
                services for
                long-distance trips and cater to international travellers visiting the region.</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" style="--d: .6s;">
            <mat-expansion-panel-header class="panel-title">
                <mat-panel-title> How can I book a ride with Taxi Service? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>You can book a ride through our website or by calling our customer service number. We
                recommend booking in advance to ensure availability.</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" style="--d: .8s;">
            <mat-expansion-panel-header class="panel-title">
                <mat-panel-title> What types of vehicles do you offer? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>We primarily use the Ertiga, which is spacious and equipped with modern amenities, including Wi-Fi
                and drinks for your comfort.</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" style="--d: 1s;">
            <mat-expansion-panel-header class="panel-title">
                <mat-panel-title> Are your vehicles safe? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Yes, all our vehicles are equipped with safety features such as cameras and GPS tracking. Our drivers
                are trained to prioritise safety, adhere to speed limits, and ensure a comfortable journey for our
                passengers.</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" style="--d: 1.2s;">
            <mat-expansion-panel-header class="panel-title">
                <mat-panel-title> Do you offer any amenities during the ride? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Yes, our vehicles come with free Wi-Fi and complimentary drinks to make your journey enjoyable and
                relaxing.</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" style="--d: 1.4s;">
            <mat-expansion-panel-header class="panel-title">
                <mat-panel-title> Can I request a specific driver? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>While we cannot guarantee specific driver requests, we strive to accommodate your preferences
                whenever possible. All our drivers are professional and courteous.</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" style="--d: 1.6s;">
            <mat-expansion-panel-header class="panel-title">
                <mat-panel-title> How do I pay for my ride? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>We accept various payment methods, including cash, credit/debit cards, and digital wallets. Payment
                can be made at the end of your ride.</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" style="--d: 1.8s;">
            <mat-expansion-panel-header class="panel-title">
                <mat-panel-title> What is your cancellation policy? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Cancellations made at least 24 hours before the scheduled ride are eligible for a full refund. For
                cancellations made within 24 hours, a cancellation fee may apply.</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" style="--d: 2s;">
            <mat-expansion-panel-header class="panel-title">
                <mat-panel-title> Do you offer services for special events? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Yes, we provide transportation for special events such as weddings, corporate events, and tours.
                Please contact us in advance to arrange for these services.</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" style="--d: 2.2s;">
            <mat-expansion-panel-header class="panel-title">
                <mat-panel-title> How can I provide feedback about my ride? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>We value your feedback. You can provide feedback through our website or by contacting
                our customer service. Your input helps us improve our services.</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" style="--d: 2.4s;">
            <mat-expansion-panel-header class="panel-title">
                <mat-panel-title> How can I contact Taxi Service? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>You can reach us through our customer service hotline, email, or by visiting our office in Varanasi.
                Our contact information is available on our website.</p>
        </mat-expansion-panel>
    </mat-accordion>
</section>

</main>