/* CSS for body */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(180deg, #FFFFFF, #14362e70);
  padding: 1.3vw 3.1vw 1.6vw 3.1vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: max-content;
}

/* CSS for header */

.desktop-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* CSS for page body */

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  max-height: max-content;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black
}

.desc {
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  font-size: large;
  font-weight: 400;
  text-align: center;
  color: black;
  line-height: 2;
}

.faq-container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  max-width: 100%;
  padding: 2%;
}

.panel {
  margin-bottom: 5px;
  margin-left: 14%;
  width: 75%;
  background: #018464;
}

.panel_title {
  font-size: medium;
}