.desktop-1 .frame-5 {
  background: rgba(1, 132, 100, 0.2);
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: max-content;
  background: none;
  transition: none !important;
  box-shadow: none !important;
}

mat-card-title {
  margin-top: -1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-family: 'Outfit';
}

mat-card-content {
  margin-top: 1.5rem;
  padding: 0px 0px 0px 0px;
  text-align: left;
  overflow-wrap: break-word;
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 1.1rem;
  color: #1A1B11;
  line-height: 1.8;
  letter-spacing: 0.05rem;
}

/* ############################# */

.desktop-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(180deg, #FFFFFF, #14362e70);
  padding: 1.3rem 3.1rem 1.6rem 3.1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: max-content;
}

/* ############################# */