/* ######################################### */

.desktop-1{
  position: relative;
}

.desktop-1 .mask-group {
    border-radius: 5.4vw;
    background: url('src/assets/images/mask_group.jpeg') 50% / contain no-repeat;
    margin: 0.2vw;
    width: 4vw;
    height: 3vw;
    cursor: pointer;
  }
  
  .desktop-1 .rv-taxi-services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin-left: 10px;
    font-family: 'Outfit';
    font-weight: 800;
    font-size: 1vw;
    text-transform: capitalize;
    color: #1A1B11;
  }
  
  .desktop-1 .frame-56 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .desktop-1 .login {
    width: 2.4vw;
    overflow-wrap: break-word;
    font-family: 'Outfit';
    font-weight: 800;
    font-size: 0.9vw;
    color: #018464;
  }
  
  .desktop-1 .about-us {
    overflow-wrap: break-word;
    font-family: 'Outfit';
    font-weight: 800;
    font-size: 1vw;
    color: #018464;
    text-decoration: none;
    margin-right: 1vw;
  }
  
  .desktop-1 .faq {
    overflow-wrap: break-word;
    font-family: 'Outfit';
    font-weight: 800;
    font-size: 1vw;
    color: #018464;
    text-decoration: none;
  }
  
  .desktop-1 a:hover {
    border-radius: 0.7vw;
    background-color: #01846322;
  }
  
  .desktop-1 .frame-50 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .desktop-1 .frame-57 {
    padding: 0px 0px 0px 0px;
    margin-bottom: 2.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    background: none;
  }