/* ######################################### */

.frame-56 .mask-group {
  border-radius: 5.4vw;
  background: url('src/assets/images/mask_group.jpeg') 100% / contain no-repeat;
  margin: 0.2vw;
  width: 4rem;
  height: 3rem;
  cursor: pointer;
}

.frame-56 .mask-group:hover {
  transition: 0.5s ease-in;
  transform: scale(1.15);
}

.frame-56 .rv-taxi-services {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin-left: 10px;
  font-family: 'Outfit';
  font-weight: 800;
  font-size: 1.7vh;
}

.frame-56 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.frame-50 .dark-mode {
  background: url('src/assets/images/dark-mode.png') 50% / contain no-repeat;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  animation: rotate 4s ease-in-out 0.2s forwards ;

  &:hover{
    transition: 1s;
    transform: scale(1.2);
  }
}

@keyframes rotate {
 from{rotate: 0deg;} 
 to {rotate:360deg;}
}

.frame-50 .about-us {
  overflow-wrap: break-word;
  font-family: 'Outfit';
  font-weight: 800;
  font-size: 1.7vh;
  color: #018464;
  text-decoration: none;
  margin-right: 1rem;
}

.frame-50 .faq {
  overflow-wrap: break-word;
  font-family: 'Outfit';
  font-weight: 800;
  font-size: 1.7vh;
  color: #018464;
  text-decoration: none;
}

a:hover {
  width: max-content;
  border-radius: 10px;
  background-color: #0184633c;
  transition: 1s ease-;
  &:hover{
    transition: 1s;
    transform: scale(1.1);
  }
}

.frame-50 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}

.frame-57 {
  padding: 0px 0px 0px 0px;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: max-content;
  background: none;
}

/* ######################################### */

/* for Tablets */
@media screen and (min-width:650px) and (max-width:1024px) {
  .faq {
    font-size: 1.3vh
  }

  .about-us {
    font-size: 1.3vh;
  }

  .rv-taxi-services {
    font-size: 1.3vh;
  }
}

/* for Desktop and Laptops */
@media screen and (min-width:1024px) and (max-width:1920px) {
  .frame-50 .about-us {
    font-size: 2.2vh;
  }

  .frame-50 .faq {
    font-size: 2.2vh;
  }

  .frame-56 .rv-taxi-services {
    font-size: 2.6vh;
  }
}