<div class="testim">

    <span id="right-arrow" class="arrow right"></span>
    <span id="left-arrow" class="arrow left"></span>

    <div id="testim-content" class="cont">

        <div>
            <div class="img"><img src="/assets/images/amandeep.png" alt="Amandeep.png"></div>
            <h2>Amandeep Singh</h2>
            <p>⭐️⭐️⭐️⭐️⭐️</p>
            <p>I had the best experience with Taxi Service! The trip was wonderful, and the driver’s
                professionalism and courteous behavior made it even better. I’m truly grateful for the
                exceptional service. Thank you, Taxi Service, for making my journey so pleasant and
                memorable! Highly recommended for anyone seeking top-notch taxi services.</p>
        </div>

        <div>
            <div class="img"><img src="/assets/images/Monica_Dubey.png" alt="Monica.png"></div>
            <h2>Monica Dubey</h2>
            <p>⭐️⭐️⭐️⭐️</p>
            <p>The service provided by Taxi Service was outstanding, with cars in excellent condition and
                always on time. I experienced no delays, and their commitment to quality and reliability truly
                stands out. They deserve nothing less than a 5-star rating for consistently delivering top-notch
                service. Highly recommended!</p>
        </div>

        <div>
            <div class="img"><img src="/assets/images/Karan.png" alt="Karan.png"></div>
            <h2>Karan Manglani</h2>
            <p>⭐️⭐️⭐️⭐️⭐️</p>
            <p>Taxi Service provided exceptional service with highly experienced drivers who made the
                journey smooth and stress-free. Their professionalism and attention to detail were evident
                throughout the trip. If you're looking for a trustworthy and reliable taxi service, they are
                definitely the right choice. I highly recommend them for any travel needs.</p>
        </div>

        <div>
            <div class="img"><img src="/assets/images/Nimesh_Jhaveri.png" alt=""></div>
            <h2>Nimesh Jhaveri</h2>
            <p>⭐️⭐️⭐️⭐️⭐️</p>
            <p>"I’ve visited Varanasi many times, but this time, Taxi Service truly exceeded my expectations. This
                is the best taxi service I’ve ever experienced in the city. The drivers were courteous,
                and the service was impeccable. I’m definitely going to use their services again on my next visit,
                without a doubt, and recommend them to anyone traveling to Varanasi."</p>
        </div>

        <div>
            <div class="img"><img src="/assets/images/Ankur_Shrivastava.png" alt=""></div>
            <h2>Ankur Shrivastava</h2>
            <p>⭐️⭐️⭐️⭐️</p>
            <p>My ride with Taxi Service was great and incredibly comfortable. Their cars were
                well-maintained and impeccably clean, which made the entire journey enjoyable. The attention to
                detail and commitment to customer satisfaction were evident throughout the ride. I highly
                recommend them for anyone seeking a smooth and pleasant travel experience.</p>
        </div>


    </div>

    <ul id="testim-dots" class="dots">
        <li class="dot active"></li>
        <li class="dot"></li>
        <li class="dot"></li>
        <li class="dot"></li>
        <li class="dot"></li>
    </ul>


</div>