<body class="main">

  <!-- Header -->
  <header>
    <a routerLink="/rvtaxiservices">
      <img src="assets/logo_160px X 160px.png">
    </a>
    <div class="header">
      <h1 class="company_name">
        RV Taxi Services
      </h1>
    </div>
    <div class="header1">
      <nav>
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Sign Up</a>
        <a routerLink="/about-us">About Us</a>
      </nav>
    </div>
  </header>

  <mat-card>
    <div class="image">
      <img src="assets/logo_160px X 160px.png">
      <h1>
        Welcome to RV Taxi Services
      </h1>
    </div>


    <mat-card-content>

      <h2>
        Register Here
      </h2>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="formField">
          <mat-form-field appearance="outline" lass="custom-input-color">
            <mat-label>Full Name</mat-label>
            <input matInput id="name" formControlName="name">
          </mat-form-field>
        </div>

        <div class="formField">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput id="email" formControlName="email">
          </mat-form-field>
        </div>

        <div class="formField">
          <mat-form-field appearance="outline">
            <mat-label>Whatsapp Number</mat-label>
            <input matInput id="contactNumber" formControlName="contactNumber">
          </mat-form-field>
        </div>

        <div class="formField">
          <mat-form-field appearance="outline">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="formField">
          <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option [value]="'Male'">
                Male
              </mat-option>
              <mat-option [value]="'Female'">
                Female
              </mat-option>
              <mat-option [value]="'Others'">
                Others
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- <div class="formField">
      <mat-form-field appearance="outline" style="margin-left: 5%;">
        <mat-label>Address</mat-label>
        <input matInput id="address" formControlName="address">
      </mat-form-field>
    </div> -->

        <div class="formField">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" id="password" formControlName="password">
          </mat-form-field>
        </div>

        <div class="formField">
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" id="confirmPassword" formControlName="confirmPassword">
          </mat-form-field>
        </div>

        <mat-card-footer>
          <button mat-raised-button color="primary" type="submit" style="margin-left: 41%;">
            Register</button>
        </mat-card-footer>

      </form>

    </mat-card-content>

  </mat-card>

  <!-- Footer -->
  <footer class="footer">
    <p>© 2024 RV Taxi Services</p>
    <div class="footer_links">
      <a href="#about">About Us</a>
      <a routerLink="/faq">FAQ</a>
      <a href="#contact">Contact Us</a>
    </div>
  </footer>

</body>