html {
    background-image: url('src/assets/hola.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card {
    max-width: 80%;
    max-height: 100%;
    width: 45%; 
    padding: 2em;
    background: rgba(25, 27, 5, 0.5); 
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(236, 214, 18, 0.6);
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    margin-left: 1%;
   
}

.header {
    display: flex;
    align-items: center;
    justify-content: left; 
    
  }
  
  .header img {
    margin-left: 1%;
    transform: scale(0.5); 
    border-radius: 50%;
  }
  

h2 {
    margin-top: -5%;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: white;
}

.formField{
    display: flex;
    justify-content: flex-start;
    padding: 2%;
}

mat-form-field {
    color: black;
    width: 100%;
}

mat-label {
    font-weight: 500;
    color: white;
}

  