.desktop-1 .mask-group {
  border-radius: 5.4rem;
  background: url('src/assets/mask_group.jpeg') 50% / contain no-repeat;
  margin: 0.2rem;
  width: 4rem;
  height: 3rem;
}

.desktop-1 .rv-taxi-services {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin-left: 10px;
  font-family: 'Outfit';
  font-weight: 800;
  font-size: 1rem;
  text-transform: capitalize;
  color: #1A1B11;
}

.desktop-1 .frame-56 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.desktop-1 .login {
  width: 2.4rem;
  overflow-wrap: break-word;
  font-family: 'Outfit';
  font-weight: 800;
  font-size: 0.9rem;
  color: #018464;
}

.desktop-1 .about-us {
  overflow-wrap: break-word;
  font-family: 'Outfit';
  font-weight: 800;
  font-size: 0.9rem;
  color: #018464;
}

.desktop-1 .faq {
  overflow-wrap: break-word;
  font-family: 'Outfit';
  font-weight: 800;
  font-size: 0.9rem;
  color: #018464;
  text-decoration: none;
}

.desktop-1 .faq a:hover {

  text-decoration: underline;
}

.desktop-1 .frame-50 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20.7rem;
  height: fit-content;
  box-sizing: border-box;
}

.desktop-1 .frame-57 {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: max-content;
  gap: 60rem;
}

/* ############################# */

.desktop-1 .man-1 {
  border-radius: 7.4rem;
  background: url('src/assets/man_1.png') 50% / contain no-repeat;
  margin: 0.2rem;
  width: 7rem;
  height: 15rem;
}

.desktop-1 .ride-smart-ride-safe {
  margin-bottom: 0.6rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Orelega One';
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  color: #1A1B11;
}

.desktop-1 .be-apart-of-next-big-thing {
  margin-bottom: 0.6rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Otomanopee One';
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: capitalize;
  color: #1A1B11;
}

.desktop-1 .label-text {
  overflow-wrap: break-word;
  margin-left: calc(18%);
  font-family: var(--m-3-labellarge-font-family, 'Roboto');
  font-weight: var(--m-3-labellarge-font-weight, 500);
  font-size: var(--m-3-labellarge-font-size, 0.9rem);
  letter-spacing: var(--m-3-labellarge-letter-spacing, 0rem);
  line-height: var(--m-3-labellarge-line-height, 1.429);
  color: #FFFFFF;
}

.desktop-1 .button {
  box-shadow: 0rem 0.4rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 25rem;
  background: #018464;
  display: flex;
  width: 7.9rem;
  height: fit-content;
  padding: 0.8rem 0;
}

.desktop-1 .frame-12 {
  margin: 2.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  width: max-content;
}

.desktop-1 .white-car-front-view {
  background: url('src/assets/white_car_front_view.png') 50% / contain no-repeat;
  margin-right: 1.5rem;
  margin-top: 0.7rem;
  width: 21.1rem;
  height: 14.4rem;
}

.desktop-1 .woman-1 {
  background: url('src/assets/woman_1.png') 50% / contain no-repeat;
  margin: 0.2rem;
  width: 7rem;
  height: 15rem;
}

.desktop-1 .frame-5 {
  background: rgba(1, 132, 100, 0.2);
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: max-content;
}

/* ############################# */

.desktop-1 .young-man-holding-coffee-and-laptop {
  background: url('src/assets/young_man_holding_coffee_and_laptop.png') 50% / contain no-repeat;
  margin: 0.2rem;
  width: 50rem;
  height: 11.8rem;
}

.desktop-1 .overview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10rem;
  margin-right: 30px;
  font-family: 'Orelega One';
  font-weight: bolder;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  color: #1A1B11;
}

.desktop-1 .frame-44 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ramaraja';
  font-weight: 400;
  font-size: 1.1rem;
  color: #1A1B11;
  line-height: 2;
  letter-spacing: 0.05rem;
}

.desktop-1 .frame-47 {
  margin-top: 1rem;
  margin-bottom: 2.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: max-content;
}

/* ############################# */

.desktop-1 .white-car-side-view {
  border-radius: 11.5rem;
  background: url('src/assets/white_car_side_view.png') 50% / contain no-repeat;
  width: 73.9rem;
  height: 15.3rem;
}

.desktop-1 .frame-51 {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: max-content;
}

/* ############################# */

.desktop-1 .services {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orelega One';
  font-weight: bolder;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: #1A1B11;
  margin-bottom: 15px;
}

.desktop-1 .we-at-rv-taxi-services-take-great-satisfaction-in-providing-dependable-and-cosy-transportation-options-throughout-varanasi-and-beyond-whether-you-require-airport-transfers-are-travelling-along-distance-or-are-just-commuting-locally-our-fleet-of-well-maintained-cars-guarantees-ahassle-free-trip-our-drivers-are-courteous-experienced-professionals-who-are-dedicated-to-maintaining-ahigh-standard-of-safety-and-timeliness-on-every-journey {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Ramaraja';
  font-weight: 400;
  font-size: 1.1rem;
  color: #1A1B11;
  line-height: 1.8;
  letter-spacing: 0.05rem;
}

.desktop-1 .frame-42 {
  margin-bottom: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

.desktop-1 .amenity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orelega One';
  font-weight: bolder;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: #1A1B11;
  margin-bottom: 15px;
}

.desktop-1 .rv-taxi-services-provides-avariety-of-facilities-in-our-cars-to-improve-your-comfort-while-travelling-experience-continuous-connectivity-and-catch-up-on-work-while-on-the-go-with-free-wi-fi-throughout-your-travels-we-give-free-bottled-water-and-other-refreshments-so-you-can-keep-comfortable-and-hydrated-on-your-journey-modern-comforts-like-in-car-cameras-and-gps-monitoring-are-installed-in-our-cars-to-provide-extra-protection-and-peace-of-mind {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Ramaraja';
  font-weight: 400;
  font-size: 1.1rem;
  color: #1A1B11;
  line-height: 1.8;
  letter-spacing: 0.04rem;
}

.desktop-1 .frame-48 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.desktop-1 .frame-49 {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: max-content;
  gap: 15%;
}

/* ############################# */

.desktop-1 .man-with-phone-showing-thumbs-up {
  background: url('src/assets/man_with_phone_showing_thumbs_up.png') 50% / contain no-repeat;
  width: 12.8rem;
  height: 11.8rem;
  margin-bottom: 1.5rem;
}

.desktop-1 .customer-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orelega One';
  font-weight: bolder;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: #1A1B11;
  margin-bottom: 15px;
}

.desktop-1 .customer-satisfaction-is-the-main-focus-of-all-we-do-at-rv-taxi-services-we-take-great-satisfaction-in-providing-outstanding-service-that-goes-above-and-beyond-take-our-word-for-it-but-also-read-the-great-things-our-clients-have-to-say-about-their-interactions-with-us-we-are-proud-to-have-gained-their-confidence-and-loyalty-thanks-to-our-courteous-and-skilled-drivers-as-well-as-our-cosy-and-well-kept-cars-their-endorsements-motivate-us-to-keep-raising-the-bar-and-making-sure-every-trip-with-rv-taxi-services-is-entertaining-and-unforgettable {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Ramaraja';
  font-weight: 400;
  font-size: 1.1rem;
  color: #1A1B11;
  line-height: 1.8;
  letter-spacing: 0.05rem;
}

.desktop-1 .frame-20 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}

.desktop-1 .frame-15 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

.desktop-1 .smiling-man-and-woman-with-phones {
  border-radius: 14.3rem;
  background: url('src/assets/smiling_man_and_woman_with_phones.png') 50% / contain no-repeat;
  width: 12.8rem;
  height: 11.8rem;
  margin-bottom: 1.5rem;
}

.desktop-1 .safety-and-cleanliness {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orelega One';
  font-weight: bolder;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: #1A1B11;
  margin-bottom: 15px;
}

.desktop-1 .your-comfort-and-safety-are-our-first-objectives-at-rv-taxi-services-we-keep-all-of-our-cars-up-to-strict-cleaning-standards-so-every-trip-is-in-aspotless-atmosphere-to-provide-our-passengers-peace-of-mind-our-fleet-is-outfitted-with-cutting-edge-safety-technologies-including-gps-tracking-and-in-car-cameras-you-can-be-confident-that-we-follow-stringent-sanitary-procedures-and-put-your-wellbeing-first-at-every-stop-along-the-way-whether-youre-travelling-nearby-or-across-the-country {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Ramaraja';
  font-weight: 500;
  font-size: 1.1rem;
  color: #1A1B11;
  line-height: 1.8;
  letter-spacing: 0.05rem;
}

.desktop-1 .frame-23 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}

.desktop-1 .frame-14 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

.desktop-1 .frame-40 {
  margin-bottom: 4.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: max-content;
  gap: 15%;
}

/* ############################# */

.desktop-1 .label-text-1 {
  overflow-wrap: break-word;
  margin-left: calc(37%);
  font-family: var(--m-3-labellarge-font-family, 'Roboto');
  font-weight: var(--m-3-labellarge-font-weight, 500);
  font-size: var(--m-3-labellarge-font-size, 0.9rem);
  letter-spacing: var(--m-3-labellarge-letter-spacing, 0rem);
  line-height: var(--m-3-labellarge-line-height, 1.429);
  color: #FFFFFF;
}

.desktop-1 .feedback {
  display: flex;
  justify-content: center;
}

.desktop-1 .button-1 {
  border-radius: 25rem;
  margin-bottom: 3.3rem;
  align-self: center;
  width: 16rem;
  padding: 1.2rem 0;
  height: fit-content;
  box-shadow: 0rem 0.4rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 25rem;
  background: black;
  display: flex;
}

/* ############################# */

.desktop-1 .text{
  font-family: 'Ramaraja';
  width: max-content;
  font-size:small;
}

.desktop-1 .useful-links {
  width: max-content;
  margin-bottom: 0.7rem;
  font-weight: bold;
  font-family: 'Ramaraja';
  font-size: medium;
}

.desktop-1 .usefull-link-privacy-policy-refund-policy-terms-of-service {
  margin: 0 0.4rem;
  overflow-wrap: break-word;
  font-family: 'Ramaraja';
  font-weight: 400;
  font-size: 0.8rem;
  color: #1A1B11;
}

.desktop-1 .frame-65 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: max-content;
  height: max-content;
}

.desktop-1 .our-services{
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  margin-bottom: 0.7rem;
  font-weight: bold;
  font-family: 'Ramaraja';
  font-size: medium;
}

.desktop-1 .our-services-local-rides-long-distance-travel-airport-transfers-tourist-transportation {
  margin: 0 0.4rem;
  overflow-wrap: break-word;
  font-family: 'Ramaraja';
  font-weight: 400;
  font-size: 0.8rem;
  color: #1A1B11;
}

.desktop-1 .frame-64 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: max-content;
}
.desktop-1 .follow-us {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.7rem;
  font-weight: bold;
  font-family: 'Ramaraja';
  font-size: medium;
}
.desktop-1 .facebook-icon {
  border-radius: 14.3rem;
  background: url('src/assets/icons8-facebook-48.png') 50% / contain no-repeat;
  width: 2.8rem;
  height: 1.8rem;
  margin-bottom: 0.7rem;
}
.desktop-1 .instagram-icon {
  border-radius: 14.3rem;
  background: url('src/assets/icons8-instagram-48.png') 50% / contain no-repeat;
  width: 2.8rem;
  height: 1.8rem;
}

.desktop-1 .frame-58 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: max-content;
  
}
.desktop-1 .contact-us {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.7rem;
  font-weight: bold;
  font-family: 'Ramaraja';
  font-size: medium;
}
.desktop-1 .address-varanasi-uttar-pradesh-india {
  margin-bottom: 0.3rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Ramaraja';
  font-weight: 400;
  font-size: 0.8rem;
  color: #1A1B11;
}

.desktop-1 .whatsapp-icon {
  border-radius: 14.3rem;
  background: url('src/assets/icons8-whatsapp-48.png') 50% / contain no-repeat;
  width: 1rem;
  height: 1rem;
}

.desktop-1 .frame-62 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 0.1rem;
  gap: 0.3rem;
}
.desktop-1 .email-rvtaxiservices-620-gmail-com {
  margin: 0 0.4rem;
  overflow-wrap: break-word;
  font-family: 'Ramaraja';
  font-weight: 400;
  font-size: 0.8rem;
  color: #1A1B11;
}
.desktop-1 .frame-66 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: max-content;
}

.desktop-1 .rv-taxi-services-all-rights-reserved {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.8rem;
  overflow-wrap: break-word;
  font-family: 'Ramaraja';
  font-weight: 400;
  font-size: 1.1rem;
  color: #1A1B11;
}
.desktop-1 .frame-67 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: max-content;
}
.desktop-1 .frame-53 {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: max-content;
  gap: 18%;
}

/* ############################# */

.desktop-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(180deg, #FFFFFF, #3EBE9F);
  padding: 1.3rem 3.1rem 1.6rem 3.1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:auto;
  height: max-content;
}

/* ############################# */
