.desktop-1 .man-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('src/assets/images/man_1.png') 50% / contain no-repeat;
  margin: 0.2rem;
  width: 2rem;
  height: 6rem;
}

.desktop-1 .ride-smart-ride-safe {
  margin-bottom: 0.6vw;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 1.8vh;
  letter-spacing: 0.1rem;
  color: #1A1B11;
}

.desktop-1 .be-apart-of-next-big-thing {
  margin-bottom: 0.6vw;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 0.9vh;
  text-transform: capitalize;
  color: #1A1B11;
}

.desktop-1 .button {
  box-shadow: 0vw 0.4vw 0.3vw 0vw rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  background: #018464;
  display: flex;
  height: fit-content;
  padding: 0.5rem 0.5rem;
  font-size: 1vh;
}

.desktop-1 .frame-12 {
  margin: 2.8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: max-content;
}

.desktop-1 .white-car-front-view {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('src/assets/images/white_car_front_view.png') 50% / contain no-repeat;
  margin-right: 0.5rem;
  margin-top: 0.7rem;
  width: 5rem;
  height: 5rem;
}

.desktop-1 .woman-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('src/assets/images/woman_1.png') 50% / contain no-repeat;
  margin: 0.2rem;
  width: 2rem;
  height: 6rem;
}

.desktop-1 .frame-5 {
  background: rgba(1, 132, 100, 0.2);
  margin-bottom: 2.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: max-content;
}

/* ############################# */

.desktop-1 .young-man-holding-coffee-and-laptop {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('src/assets/images/young_man_holding_coffee_and_laptop.png') 50% / contain no-repeat;
  margin: 0.2rem;
  width: 50vw;
  height: 11.8vw;
}

.desktop-1 .overview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  font-family: 'Outfit';
  font-weight: bolder;
  font-size: 1.5vh;
  letter-spacing: 0.2vw;
  color: #1A1B11;
}

.desktop-1 .frame-44 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 10vh;
  color: #1A1B11;
  line-height: 2;
  letter-spacing: 0.05vw;
}

.desktop-1 .frame-47 {
  margin-top: 1vw;
  margin-bottom: 2.8vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: max-content;
  background: none;
  transition: none !important;
  box-shadow: none !important;
}

/* ############################# */

.desktop-1 .white-car-side-view {
  border-radius: 11.5vw;
  background: url('src/assets/images/white_car_side_view.png') 50% / contain no-repeat;
  width: 73.9vw;
  height: 15.3vw;
}

.desktop-1 .frame-51 {
  margin-bottom: 2.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: max-content;
  background: none;
  transition: none !important;
  box-shadow: none !important;
}

/* ############################# */

.desktop-1 .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Outfit';
  font-weight: bolder;
  font-size: 1.5vh;
  letter-spacing: 0.1vw;
  color: #1A1B11;
  margin-bottom: 15px;
}

.desktop-1 .text {
  overflow-wrap: break-word;
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 1.3vh;
  color: #1A1B11;
  line-height: 1.8;
  letter-spacing: 0.05vw;
}

.desktop-1 .frame-42 {
  margin-bottom: 0.1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

.desktop-1 .frame-48 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.desktop-1 .frame-49 {
  margin-bottom: 2.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: max-content;
  gap: 15%;
  background: none;
  transition: none !important;
  box-shadow: none !important;
}

/* ############################# */

.desktop-1 .man-with-phone-showing-thumbs-up {
  background: url('src/assets/images/man_with_phone_showing_thumbs_up.png') 50% / contain no-repeat;
  width: 12.8vw;
  height: 11.8vw;
  margin-bottom: 1.5vw;
}

.desktop-1 .frame-20 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}

.desktop-1 .frame-15 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

.desktop-1 .smiling-man-and-woman-with-phones {
  border-radius: 14.3vw;
  background: url('src/assets/images/smiling_man_and_woman_with_phones.png') 50% / contain no-repeat;
  width: 12.8vw;
  height: 11.8vw;
  margin-bottom: 1.5vw;
}

.desktop-1 .frame-23 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}

.desktop-1 .frame-14 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

.desktop-1 .frame-40 {
  margin-bottom: 4.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: max-content;
  gap: 15%;
  background: none;
  transition: none !important;
  box-shadow: none !important;
}

/* ############################# */

.desktop-1 .feedback {
  display: flex;
  justify-content: center;
  margin-bottom: 3vw;
  background: none;
  transition: none !important;
  box-shadow: none !important;
}

.desktop-1 .button-1 {
  border-radius: 25vw;
  align-self: center;
  width: 16vw;
  padding: 1.2vw 0;
  height: fit-content;
  box-shadow: 0vw 0.4vw 0.3vw 0vw rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  background: black;
  display: flex;
  font-size: 1vh;
}

/* ############################# */

/* for Mobiles */
@media screen and (max-width: 650px) {
  .desktop-1 .overview-text {
    margin-top: 1rem;
    overflow-wrap: break-word;
    font-family: 'Outfit';
    font-weight: 400;
    color: #1A1B11;
    line-height: 1.8;
    letter-spacing: 0.05vw;
    font-size: 1.3vh;
  }

  .desktop-1 .young-man-holding-coffee-and-laptop {
    display: none;
  }

}

/* fot Tablets */
@media screen and (min-width : 650px) and (max-width : 1024px) {
  .desktop-1 .label-text {
    font-size: 1vh;
  }

  .desktop-1 .man-1 {
    margin: 0.2rem;
    width: 5rem;
    height: 8rem;
  }

  .desktop-1 .woman-1 {
    margin: 0.2rem;
    width: 5rem;
    height: 8rem;
  }

  .desktop-1 .white-car-front-view{
    width: 8rem;
    height: 8rem;
  }

  .desktop-1 .young-man-holding-coffee-and-laptop {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('src/assets/images/young_man_holding_coffee_and_laptop.png') 50% / contain no-repeat;
    margin: 0.2vw;
    width: 25rem;
    height: 15rem;
  }

  .desktop-1 .overview-text {
    margin-top: 2.5rem;
    overflow-wrap: break-word;
    font-family: 'Outfit';
    font-weight: 400;
    color: #1A1B11;
    line-height: 1.8;
    letter-spacing: 0.05vw;
    font-size: 1.3vh;
  }

  .desktop-1 .button {
    padding: 0.8rem 0.8rem;
    font-size: 1vh;
  }
}

/* for Monitor */
@media screen and (min-width: 1025px) and (max-width: 1920px) {
  .desktop-1 .man-1 {
    margin: 0.2rem;
    width: 15rem;
    height: 15rem;
  }

  .desktop-1 .woman-1 {
    margin: 0.2rem;
    width: 15rem;
    height: 15rem;
  }

  .desktop-1 .white-car-front-view{
    width: 15rem;
    height: 15rem;
  }

  .desktop-1 .ride-smart-ride-safe {
    font-size: 4vh;
  }

  .desktop-1 .be-apart-of-next-big-thing {
    font-size: 1.8vh;
  }

  .desktop-1 .button {
    padding: 20px;
    font-size: 2.5vh;
  }

  .desktop-1 .overview {
    font-size: 2.3vh;
  }

  .desktop-1 .frame-44 {
    font-size: 1.8vh;
  }

  .desktop-1 .heading {
    font-size: 2.3vh
  }

  .desktop-1 .text {
    font-size: 2vh;
  }

  .desktop-1 .button-1 {
    font-size: 2vh;
  }

  .desktop-1 .overview-text {
    margin-top: 2.5rem;
    overflow-wrap: break-word;
    font-family: 'Outfit';
    font-weight: 400;
    color: #1A1B11;
    line-height: 1.8;
    letter-spacing: 0.05vw;
    font-size: 2vh;
  }
}