<div class="desktop-1">

  <!-- Header -->
  <div class="frame-57">
    <div class="frame-56">
      <div class="mask-group"></div>
      <div class="rv-taxi-services">
        RV taxi services
      </div>
    </div>
    <div class="frame-50">
      <!-- <a class="login">
        Login
      </a>-->
      <a class="about-us">
        About us
      </a> 
      <a class="faq" routerLink="/faq">
        FAQ</a>
    </div>
  </div>

  <!-- Body -->

  <div class="frame-5">
    <div class="man-1"></div>
    <div class="frame-12">
      <div class="ride-smart-ride-safe">
        Ride smart, Ride safe
      </div>
      <div class="be-apart-of-next-big-thing">
        be a part of next big thing
      </div>
        <button mat-raised-button class="button" (click)="bookARide()">
          Book a Ride
        </button>
    </div>
    <div class="white-car-front-view"></div>
    <div class="woman-1"></div>
  </div>


  <div class="frame-47">
    <div class="young-man-holding-coffee-and-laptop"></div>
    <div class="overview">
      OVERVIEW
    </div>
    <div class="frame-44">
      Whether you are looking for dependable and pleasant transportation in Varanasi or elsewhere, go no farther
      than RV Taxi Services. Whether you are a local, a long-distance traveler, or an international guest, we are
      dedicated to offering first-rate taxi services that are suited to fulfil the various demands of our clients.
    </div>
  </div>


  <div class="frame-51">
    <div class="white-car-side-view">
    </div>
  </div>


  <div class="frame-49">
    <div class="frame-42">
      <div class="services">
        SERVICES
      </div>
      <div
        class="we-at-rv-taxi-services-take-great-satisfaction-in-providing-dependable-and-cosy-transportation-options-throughout-varanasi-and-beyond-whether-you-require-airport-transfers-are-travelling-along-distance-or-are-just-commuting-locally-our-fleet-of-well-maintained-cars-guarantees-ahassle-free-trip-our-drivers-are-courteous-experienced-professionals-who-are-dedicated-to-maintaining-ahigh-standard-of-safety-and-timeliness-on-every-journey">
        We at RV Taxi Services take great satisfaction in providing dependable and cosy transportation options
        throughout Varanasi and beyond. Whether you require airport transfers, are travelling a long distance, or are
        just commuting locally, our fleet of well-maintained cars guarantees a hassle-free trip. Our drivers are
        courteous, experienced professionals who are dedicated to maintaining a high standard of safety and timeliness
        on every journey.
      </div>
    </div>
    <div class="frame-48">
      <div class="amenity">
        AMENITY
      </div>
      <div
        class="rv-taxi-services-provides-avariety-of-facilities-in-our-cars-to-improve-your-comfort-while-travelling-experience-continuous-connectivity-and-catch-up-on-work-while-on-the-go-with-free-wi-fi-throughout-your-travels-we-give-free-bottled-water-and-other-refreshments-so-you-can-keep-comfortable-and-hydrated-on-your-journey-modern-comforts-like-in-car-cameras-and-gps-monitoring-are-installed-in-our-cars-to-provide-extra-protection-and-peace-of-mind">
        RV Taxi Services provides a variety of facilities in our cars to improve your comfort while travelling.
        Experience continuous connectivity and catch up on work while on the go with free Wi-Fi throughout your
        travels. We give free bottled water and other refreshments so you can keep comfortable and hydrated on your
        journey. Modern comforts like in-car cameras and GPS monitoring are installed in our cars to provide extra
        protection and peace of mind.
      </div>
    </div>
  </div>


  <div class="frame-40">
    <div class="frame-15">
      <div class="man-with-phone-showing-thumbs-up"></div>
      <div class="frame-20">
        <div class="customer-feedback">
          CUSTOMER FEEDBACK
        </div>
        <div
          class="customer-satisfaction-is-the-main-focus-of-all-we-do-at-rv-taxi-services-we-take-great-satisfaction-in-providing-outstanding-service-that-goes-above-and-beyond-take-our-word-for-it-but-also-read-the-great-things-our-clients-have-to-say-about-their-interactions-with-us-we-are-proud-to-have-gained-their-confidence-and-loyalty-thanks-to-our-courteous-and-skilled-drivers-as-well-as-our-cosy-and-well-kept-cars-their-endorsements-motivate-us-to-keep-raising-the-bar-and-making-sure-every-trip-with-rv-taxi-services-is-entertaining-and-unforgettable">
          Customer satisfaction is the main focus of all we do at RV Taxi Services. We take great satisfaction in
          providing outstanding service that goes above and beyond. Take our word for it, but also read the great
          things our clients have to say about their interactions with us. We are proud to have gained their
          confidence and loyalty thanks to our courteous and skilled drivers as well as our cosy and well-kept cars.
          Their endorsements motivate us to keep raising the bar and making sure every trip with RV Taxi Services is
          entertaining and unforgettable.
        </div>
      </div>
    </div>
    <div class="frame-14">
      <div class="smiling-man-and-woman-with-phones"></div>
      <div class="frame-23">
        <div class="safety-and-cleanliness">
          SAFETY AND CLEANLINESS
        </div>
        <div
          class="your-comfort-and-safety-are-our-first-objectives-at-rv-taxi-services-we-keep-all-of-our-cars-up-to-strict-cleaning-standards-so-every-trip-is-in-aspotless-atmosphere-to-provide-our-passengers-peace-of-mind-our-fleet-is-outfitted-with-cutting-edge-safety-technologies-including-gps-tracking-and-in-car-cameras-you-can-be-confident-that-we-follow-stringent-sanitary-procedures-and-put-your-wellbeing-first-at-every-stop-along-the-way-whether-youre-travelling-nearby-or-across-the-country">
          Your comfort and safety are our first objectives at RV Taxi Services. We keep all of our cars up to strict
          cleaning standards, so every trip is in a spotless atmosphere. To provide our passengers peace of mind, our
          fleet is outfitted with cutting-edge safety technologies including GPS tracking and in-car cameras. You can
          be confident that we follow stringent sanitary procedures and put your wellbeing first at every stop along
          the way, whether you&#39;re travelling nearby or across the country.
        </div>
      </div>
    </div>
  </div>

  <!-- (click)="feedback()"-->
  <div class="feedback">
    <button mat-raised-button class="button-1" >
        Feedback
    </button>
  </div>

  <!-- Footer -->

  <div class="frame-53">

    <div class="frame-65">
      <div class="useful-links">USEFULL LINKS</div>
      <div class="usefull-link-privacy-policy-refund-policy-terms-of-service">
        <div class="text">• Privacy policy</div>
        <div class="text">• Refund policy</div>
        <div class="text">• Terms of Service</div>
      </div>
    </div>

    <div class="frame-64">
      <div class="our-services">OUR SERVICES</div>
      <div class="our-services-local-rides-long-distance-travel-airport-transfers-tourist-transportation">
        <div class="text">• Local Rides</div>
        <div class="text">• Long Distance Travel</div>
        <div class="text">• Airport Transfers</div>
        <div class="text">• Tourist Transportation</div>
      </div>
    </div>

    <div class="frame-58">
      <div class="follow-us">FOLLOW US</div>
      <div class="facebook-icon" (click)="redirectToFacebook()">
      </div>
      <div class="instagram-icon" (click)="redirectToInstagram()"></div>
    </div>

    <div class="frame-66">
      <div class="contact-us">CONTACT US</div>
      <div>
        <div class="text">• 📍 Sarnath, Varanasi, Uttar Pradesh 221007</div>
      </div>
      <div class="frame-62">
        <div class="whatsapp-icon"></div>
        <div class="text">+91 9201709650</div>
      </div>
      <div>
        <div class="text">• ✉️ rvtaxiservices620@gmail.com</div>
      </div>
    </div>

  </div>

  <div class="rv-taxi-services-all-rights-reserved">
    © 2024 RV Taxi Services. All Rights Reserved.
  </div>


</div>