.desktop-1 .text{
    font-family: 'Ramaraja';
    width: auto;
    font-size: 0.9vw;
    text-decoration: none;
  }

  .desktop-1 .link{
    font-family: 'Ramaraja';
    color: black;
    width: max-content;
    font-size: 0.9vw;
    text-decoration: none;
    cursor: pointer;
  }
  
  .desktop-1 .useful-links {
    width: max-content;
    margin-bottom: 0.7vw;
    font-weight: bold;
    font-family: 'Ramaraja';
    font-size: 1.1vw;
  }
  
  .desktop-1 .usefull-link-privacy-policy-refund-policy-terms-of-service {
    margin: 0 0.4vw;
    overflow-wrap: break-word;
    font-family: 'Ramaraja';
    font-weight: 400;
    font-size: 0.8vw;
    color: #1A1B11;
  }
  
  .desktop-1 .frame-65 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .desktop-1 .our-services{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.7vw;
    font-weight: bold;
    font-family: 'Ramaraja';
    font-size: 1.1vw;
  }
  
  .desktop-1 .our-services-local-rides-long-distance-travel-airport-transfers-tourist-transportation {
    margin: 0 0.4vw;
    overflow-wrap: break-word;
    font-family: 'Ramaraja';
    font-weight: 400;
    font-size: 0.8vw;
    color: #1A1B11;
  }
  
  .desktop-1 .frame-64 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: max-content;
  }

  .desktop-1 .follow-us {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.7rem;
    font-weight: bold;
    font-family: 'Ramaraja';
    font-size: 1.1vw;
  }

  .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5%;
  }
  
  .desktop-1 .facebook-icon {
    background: url('src/assets/images/icons8-facebook-48.png') 50% / contain no-repeat;
    width: 1.5vw;
    height: 1.5vh;
    /* margin-bottom: 0.7vh; */
  }
  .desktop-1 .instagram-icon {
    background: url('src/assets/images/icons8-instagram-48.png') 50% / contain no-repeat;
    width: 1.5vw;
    height: 1.5vh;
  }
  
  .desktop-1 .frame-58 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
  }
  .desktop-1 .contact-us {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.7vw;
    font-weight: bold;
    font-family: 'Ramaraja';
    font-size: 1.1vw;
  }

  .desktop-1 .address-varanasi-uttar-pradesh-india {
    margin-bottom: 0.3vw;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Ramaraja';
    font-weight: 400;
    font-size: 0.8vw;
    color: #1A1B11;
  }
  
  .desktop-1 .whatsapp-icon {
    border-radius: 14.3vw;
    background: url('src/assets/images/icons8-whatsapp-48.png') 50% / contain no-repeat;
    width: 1vw;
    height: 1vw;
  }
  
  .desktop-1 .frame-62 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0.1vw;
    gap: 0.3vw;
  }
  .desktop-1 .email-rvtaxiservices-620-gmail-com {
    margin: 0 0.4vw;
    overflow-wrap: break-word;
    font-family: 'Ramaraja';
    font-weight: 400;
    font-size: 0.8vw;
    color: #1A1B11;
  }

  .desktop-1 .frame-66 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .desktop-1 .rv-taxi-services-all-rights-reserved {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.8vw;
    overflow-wrap: break-word;
    font-family: 'Ramaraja';
    font-weight: 400;
    font-size: 1.1vw;
    color: #1A1B11;
  }
  .desktop-1 .frame-67 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: max-content;
  }
  .desktop-1 .frame-53 {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: max-content;
  }
  
  /* ############################# */
