<body>

    <!-- landing.component.html -->
    <header class="master">
        <a routerLink="/rvtaxiservices">
            <img src="assets/logo_160px X 160px.png">
        </a>
        <div class="header">
            <h1>
                RV Taxi Services
            </h1>
        </div>
        <div class="header1">
            <nav>
                <a routerLink="/login">Login</a>
                <a routerLink="/register">Sign Up</a>
                <a href="#about">About Us</a>
            </nav>
        </div>
    </header>

    <div class="landing-container">
        <mat-card class="landing-card">

            <div style="display: flex; flex-direction: row;; padding: 3%; gap: 40%;">
                <img src="assets/tab_icon.png" style="transform: scale3d();">
                <div style="display: flex; flex-direction: column; 
                     align-items: left; padding: 2%;">
                    <h2>Ride Smart, Ride Safe</h2>
                    <p>test content goes here</p>
                    <button mat-raised-button color="primary" (click)="register()">
                        Book a Ride
                    </button>
                </div>

            </div>

        </mat-card>
    </div>

    <div class="landing-container">
        <mat-card class="landing-card" id="about">
            <div style="display: flex; flex-direction: row-reverse;; padding: 3%; gap:40%;">
                <img src="assets/tab_icon.png" style="transform: scale3d(0.5);">
                <div style="display: flex; flex-direction: column;; padding: 3%;">
                    <h2>Overview</h2>
                    <p style="font-size: medium;"> Whether you're looking for dependable and pleasant transportation in Varanasi or elsewhere, go
                        no farther than RV Taxi Services. Whether you are a local, a long-distance traveller, or an
                        international guest, we are dedicated to offering first-rate taxi services that are suited to
                        fulfil the various demands of our clients.</p>
                </div>
            </div>
        </mat-card>
    </div>

    <div class="landing-container">
        <mat-card class="landing-card3">
            <!-- <div style="display: flex; flex-direction: row;; padding: 3%; gap:40%;"> -->
            <img src="assets/tab_icon.png" style="transform: scale3d(0.5);">
            <!-- </div> -->
            <div style="display: flex; flex-direction: row; padding: 3%;">
                <h2>Services</h2>
                <ul>
                    <li>Touring Packages</li>
                    <li>Local</li>
                    <li>Marriage</li>
                    <li>Intercity</li>
                    <li>Tourist</li>
                </ul>
                <h2>Amenities</h2>
                <ul>
                    <li>Wifi</li>
                    <li>Beverage</li>
                    <li>Banarasi Paan</li>
                </ul>
            </div>
        </mat-card>
    </div>


    <div class="landing-container">
        <mat-card class="landing-card">
            <div style="display: flex; flex-direction: row-reverse;; padding: 3%; gap: 40%;">
                <img src="assets/tab_icon.png" style="transform: scale3d(0.5);">
                <div style="display: flex; flex-direction: column;; padding: 3%;">
                    <h2>Safety and Cleanliness</h2>
                    <p>We prioritize the safety and cleanliness of our vehicles to ensure your comfort and security.</p>
                </div>
            </div>
        </mat-card>
    </div>


    <footer class="footer">
        <p>© 2024 RV Taxi Services</p>
        <div class="footer_links">
            <a href="#about">About Us</a>
            <a href="#faq">FAQ</a>
            <a href="#contact">Contact Us</a>
        </div>
    </footer>


</body>