<main>

  <!-- 1st Card -->
  <section class="frame-5">
    <div class="man-1" style="--d1: 0.2s"></div>
    <div class="frame-12">
      <ngx-typed-js [strings]="['^1000 Tagline ^1000 Goes Here']" [showCursor]="true" [cursorColor]="'green'"
        [loop]="true" [typeSpeed]="90" [fadeOut]="true">
        <h1 class="ride-smart-ride-safe"><span class="typing"></span> </h1>
      </ngx-typed-js>
      <p class="be-apart-of-next-big-thing" style="--d1: 0.4s">
        Be a part of next big thing
      </p>
      <button mat-raised-button class="button" (click)="bookARide()" style="--d1: 0.4s">
        Book a Ride
      </button>
    </div>
    <div class="white-car-front-view" style="--d1 : 0.5s"></div>
    <div class="woman-1" style="--d1: 0.2s"></div>
  </section>

  <!-- 2nd Card -->
  <section class="frame-47">
    <div class="young-man-holding-coffee-and-laptop" style="--d: 0.2s"></div>
    <h3 class="overview" style="--d: 0.5s">
      OVERVIEW
    </h3>
    <p class="overview-text" style="--d: 1s">
      Whether you are looking for dependable and pleasant transportation in this city or elsewhere, go no farther
      than  Taxi Services. Whether you are a local, a long-distance traveler, or an international guest, we are
      dedicated to offering first-rate taxi services that are suited to fulfil the various demands of our clients.
    </p>
  </section>

  <!-- 3rd Card -->
  <section class="frame-51">
    <div class="white-car-side-view">
    </div>
  </section>

  <!-- 4th Card -->
  <section class="frame-49">
    <div class="frame-42">
      <div class="services-gif"></div>
      <h3 class="heading">
        SERVICES
      </h3>
      <p class="text">
        We at  Taxi Services take great satisfaction in providing dependable and cosy transportation options
        throughout this city and beyond. Whether you require airport transfers, are travelling a long distance, or are
        just commuting locally, our fleet of well-maintained cars guarantees a hassle-free trip. Our drivers are
        courteous, experienced professionals who are dedicated to maintaining a high standard of safety and timeliness
        on every journey.
      </p>
    </div>
    <div class="frame-48">
      <div class="amenities-gif"></div>
      <h3 class="heading">
        AMENITY
      </h3>
      <p class="text">
         Taxi Services provides a variety of facilities in our cars to improve your comfort while travelling.
        Experience continuous connectivity and catch up on work while on the go with free Wi-Fi throughout your
        travels. We give free bottled water and other refreshments so you can keep comfortable and hydrated on your
        journey. Modern comforts like in-car cameras and GPS monitoring are installed in our cars to provide extra
        protection and peace of mind.
      </p>
    </div>
  </section>

  <!-- 5th Card -->
  <section class="frame-40">
    <div class="frame-15">
      <div class="man-with-phone-showing-thumbs-up"></div>
      <div class="frame-20">
        <h3 class="heading">
          CUSTOMER FEEDBACK
        </h3>
        <p class="text">
          Customer satisfaction is the main focus of all we do at Taxi Service. We take great satisfaction in
          providing outstanding service that goes above and beyond. Take our word for it, but also read the great
          things our clients have to say about their interactions with us. We are proud to have gained their
          confidence and loyalty thanks to our courteous and skilled drivers as well as our cosy and well-kept cars.
          Their endorsements motivate us to keep raising the bar and making sure every trip with Taxi Service is
          entertaining and unforgettable.
        </p>
      </div>
    </div>
    <div class="frame-14">
      <div class="smiling-man-and-woman-with-phones"></div>
      <div class="frame-23">
        <h3 class="heading">
          SAFETY AND CLEANLINESS
        </h3>
        <p class="text">
          Your comfort and safety are our first objectives at Taxi Service. We keep all of our cars up to strict
          cleaning standards, so every trip is in a spotless atmosphere. To provide our passengers peace of mind, our
          fleet is outfitted with cutting-edge safety technologies including GPS tracking and in-car cameras. You can
          be confident that we follow stringent sanitary procedures and put your wellbeing first at every stop along
          the way, whether you&#39;re travelling nearby or across the country.
        </p>
      </div>
    </div>
  </section>

  <!-- 6th Card -->
  <section class="feedback">
    <img src="assets/images/Location.gif" alt="Location GIF">
    <button mat-raised-button class="button-1" (click)="feedback()">
      Feedback
    </button>
  </section>

  <!-- 7th Card -->
  <section class="testimonial">
    <h3 class="heading" style="text-transform: uppercase;">A word from our customers</h3>
    <div class="testimonial-div">
      <img src="/assets/images/feedback.gif" alt="Feedback Gif" style="width: 150px;">
      <app-testimonial></app-testimonial>
    </div>
  </section>

</main>