<div class="container">

    <div class="title">Terms And Conditions</div>

    <div class="content">

        <p style="--d: 0s;">By accessing and using this website, you agree to comply with and be bound by the following terms and
            conditions of use. If you do not agree to these terms, please do not use this website: </p>

        <p style="--d: 0.2s;">
            <strong>The content of the pages of this website is for your general information and use only.</strong>
            It is subject to change without notice. This means that the information on this website is meant to provide
            general guidance and may be updated periodically. You should check for the latest updates and modifications
            regularly to stay informed of any changes that might affect your use of the website.
        </p>
        <p style="--d: 0.4s;">
            <strong>Your use of any information or materials on this website is entirely at your own risk, for which we
                shall not be liable.</strong>
            It shall be your own responsibility to ensure that any products, services, or information available through
            this website meet your specific requirements. We are not liable for any issues or damages that may arise
            from your use of the website. It is important to review and verify the information independently.
        </p>
        <p style="--d: 0.6s;">
            <strong>This website contains material that is owned by or licensed to us.</strong>
            This material includes, but is not limited to, the design, layout, look, appearance, and graphics.
            Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these
            terms and conditions. Unauthorized use or duplication of this material without permission is prohibited and
            may result in legal action.
        </p>
        <p style="--d: 0.8s;">
            <strong>All trademarks reproduced on this website, which are not the property of, or licensed to, the
                operator, are acknowledged on the website.</strong>
            We recognize and respect the intellectual property rights of others. Any trademarks that appear on this
            website are the property of their respective owners, and their inclusion on the site does not imply any
            endorsement or affiliation with us.
        </p>
        <p style="--d: 1s;">
            <strong>Unauthorized use of this website may give rise to a claim for damages and/or be a criminal
                offense.</strong>
            Misuse of the website or its content could lead to legal consequences, including claims for damages or
            criminal prosecution. We take violations seriously and will pursue appropriate actions to protect our rights
            and interests.
        </p>
        <p style="--d: 1.2s;">
            <strong>From time to time, this website may also include links to other websites.</strong>
            These links are provided for your convenience to offer additional information. However, they do not signify
            that we endorse the linked website(s). We do not have control over the content of these external sites and
            assume no responsibility for their content or practices.
        </p>
        <p style="--d: 1.4s;">
            <strong>Your use of this website and any dispute arising out of such use of the website is subject to the
                laws of India.</strong>
            The legal terms and conditions governing your use of the website are based on Indian laws. Any disputes or
            legal matters related to the use of the website will be handled in accordance with the jurisdiction of
            Indian courts.
        </p>

    </div>

</div>