/* You can add global styles to this file, and also import other style files */

html { 

    position: relative;
    display: grid;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, #FFFFFF, #3EBE9F);
    padding: 1.3vw 3.1vw 1.6vw 3.1vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:auto;
    height: max-content;

}


@import 'src/assets/common/_media.scss'

