.container {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: max-content;
    background: none;
    transition: none !important;
    box-shadow: none !important;
}

.title {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-family: 'Times New Roman';
    color: #018464;
    font-weight: 900;
}

.content {
    margin-top: 1.5rem;
    padding: 0px 0px 0px 0px;
    text-align: left;
    overflow-wrap: break-word;
    font-family: 'Times New Roman';
    line-height: 1.8;
    letter-spacing: 0.05vw;

    h2 {
        font-family: 'Times New Roman';
        font-weight: 600;
        font-size: 2vh;
        opacity: 0;
        animation: reveal 1s forwards ease-in-out var(--d);
    }

    p {
        font-size: 1.5vh;
        opacity: 0;
        animation: reveal 1s forwards ease-in-out var(--d);
    }

}

@keyframes reveal {
    from {
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}


/* ############################################ */

/* For Tablets */

@media screen and (min-width:650px) and (max-width : 1024px) {

    .title {
        font-size: 2.5vh;
    }

    .content {
        p {
            font-size: 1.6vh;
        }
    }

}

/* For Laptops and Desktops */
@media screen and (min-width:1024px) and (max-width:1920px) {

    .title {
        font-size: 4vh
    }

    .content {
        h2 {
            font-size: 3vh;
        }

        p {
            font-size: 2.2vh;
        }
    }

}